.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 0.5fr; /* Adjust grid to include Options column */
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}
.list-table-format.title{
    background-color: #f9f9f9;
}
.list-table-format img{
    width: 50px;
}

@media (max-width:600px) {
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .list-table-format.title{
        display: none;
    }
}

.edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.edit-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.edit-modal-content input,
.edit-modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.edit-modal-content button {
  background-color: tomato;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-modal-content button:hover {
  background-color: #e63946;
}

.edit-modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}